/*GENERAL*/
/*RESPONSIVE*/
/*FADE IN*/
html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Shrikhand', cursive;
}

header {
  width: 100%;
}

header .Blocheader {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .Blocheader a {
  text-decoration: none;
  color: black;
}

header .Blocheader i {
  position: absolute;
  left: 20px;
  top: 15px;
}

header .Blocheader img {
  width: 170px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 10px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1500px;
}

@media screen and (min-width: 1025px) {
  section {
    height: 1200px;
  }
}

section img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50px;
}

@media screen and (min-width: 1025px) {
  section img {
    height: 600px;
  }
}

section .blocmenu {
  background-color: #f4f4f4;
  height: auto;
  width: 100%;
  position: absolute;
  top: 310px;
  border-radius: 50px 50px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 25px;
  /*APPARITION PROGRESSIVE*/
}

@media screen and (min-width: 1025px) {
  section .blocmenu {
    position: absolute;
    top: 575px;
    width: 100%;
  }
}

section .blocmenu .textelogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  position: relative;
  padding-left: 30px;
}

section .blocmenu .textelogo .fas {
  opacity: 0;
  position: absolute;
  top: 39px;
  right: 30px;
}

section .blocmenu .textelogo .fas:hover {
  opacity: 1;
  color: #FF79DA;
}

section .blocmenu .textelogo .far {
  position: absolute;
  top: 39px;
  right: 30px;
  opacity: 1;
}

section .blocmenu .underline {
  padding-left: 20px;
}

@media screen and (min-width: 600px) {
  section .blocmenu .underline {
    padding-left: 45px;
  }
}

@media screen and (min-width: 900px) {
  section .blocmenu .underline {
    padding-left: 55px;
  }
}

@media screen and (min-width: 1025px) {
  section .blocmenu .underline {
    padding-left: 20px;
  }
}

section .blocmenu .underline::after {
  content: '';
  display: block;
  background: #99E2D0;
  width: 40px;
  height: 3px;
}

section .blocmenu .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1025px) {
  section .blocmenu .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 5px;
  }
}

section .blocmenu .container .menu {
  width: 88%;
  height: 80px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  position: relative;
  -webkit-animation: show 0.5s;
          animation: show 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 1025px) {
  section .blocmenu .container .menu {
    width: 33%;
    margin-left: 5px;
    margin-right: 5px;
  }
}

section .blocmenu .container .menu:hover .check {
  -webkit-animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  from {
    opacity: 1;
    width: 1px;
  }
  to {
    opacity: 1;
    width: 70px;
  }
}

@keyframes slide-left {
  from {
    opacity: 1;
    width: 1px;
  }
  to {
    opacity: 1;
    width: 70px;
  }
}

section .blocmenu .container .menu:hover .check i {
  font-size: 1.33em;
  -webkit-animation: rotate-90-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-90-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

section .blocmenu .container .menu:hover .price {
  margin-right: 75px;
  margin-left: 25px;
}

section .blocmenu .container .menu:hover :first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .blocmenu .container .menu:hover :first-child :last-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .blocmenu .container .menu .check {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #99E2D0;
  background: #99E2D0;
  height: 79px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  opacity: 0;
}

section .blocmenu .container .menu p {
  margin: 7px;
}

section .blocmenu .container .menu :first-child::first-line {
  font-weight: bold;
}

section .blocmenu .container .menu2 {
  width: 88%;
  height: 80px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  position: relative;
  -webkit-animation: show2 1s;
          animation: show2 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 1025px) {
  section .blocmenu .container .menu2 {
    width: 33%;
    margin-left: 5px;
    margin-right: 5px;
  }
}

section .blocmenu .container .menu2:hover .check {
  -webkit-animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  from {
    opacity: 1;
    width: 1px;
  }
  to {
    opacity: 1;
    width: 70px;
  }
}

section .blocmenu .container .menu2:hover .check i {
  font-size: 1.33em;
  -webkit-animation: rotate-90-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-90-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

section .blocmenu .container .menu2:hover .price {
  margin-right: 75px;
  margin-left: 25px;
}

section .blocmenu .container .menu2:hover :first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .blocmenu .container .menu2:hover :first-child :last-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .blocmenu .container .menu2 .check {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #99E2D0;
  background: #99E2D0;
  height: 79px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  opacity: 0;
}

section .blocmenu .container .menu2 p {
  margin: 7px;
}

section .blocmenu .container .menu2 :first-child::first-line {
  font-weight: bold;
}

section .blocmenu .container .menu3 {
  width: 88%;
  height: 80px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  position: relative;
  -webkit-animation: show3 1.5s;
          animation: show3 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 1025px) {
  section .blocmenu .container .menu3 {
    width: 33%;
    margin-left: 5px;
    margin-right: 5px;
  }
}

section .blocmenu .container .menu3:hover .check {
  -webkit-animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  from {
    opacity: 1;
    width: 1px;
  }
  to {
    opacity: 1;
    width: 70px;
  }
}

section .blocmenu .container .menu3:hover .check i {
  font-size: 1.33em;
  -webkit-animation: rotate-90-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-90-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

section .blocmenu .container .menu3:hover .price {
  margin-right: 75px;
  margin-left: 25px;
}

section .blocmenu .container .menu3:hover :first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .blocmenu .container .menu3:hover :first-child :last-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .blocmenu .container .menu3 .check {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #99E2D0;
  background: #99E2D0;
  height: 79px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  opacity: 0;
}

section .blocmenu .container .menu3 p {
  margin: 7px;
}

section .blocmenu .container .menu3 :first-child::first-line {
  font-weight: bold;
}

section .blocmenu .container .menu4 {
  width: 88%;
  height: 80px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 15px;
  position: relative;
  -webkit-animation: show3 4s;
          animation: show3 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@keyframes show3 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@media screen and (min-width: 1025px) {
  section .blocmenu .container .menu4 {
    width: 33%;
    margin-left: 5px;
    margin-right: 5px;
  }
}

section .blocmenu .container .menu4:hover .check {
  -webkit-animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  from {
    opacity: 1;
    width: 1px;
  }
  to {
    opacity: 1;
    width: 70px;
  }
}

section .blocmenu .container .menu4:hover .check i {
  font-size: 1.33em;
  -webkit-animation: rotate-90-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-90-cw 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

section .blocmenu .container .menu4:hover .price {
  margin-right: 75px;
  margin-left: 25px;
}

section .blocmenu .container .menu4:hover :first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .blocmenu .container .menu4:hover :first-child :last-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .blocmenu .container .menu4 .check {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #99E2D0;
  background: #99E2D0;
  height: 79px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  opacity: 0;
}

section .blocmenu .container .menu4 p {
  margin: 7px;
}

section .blocmenu .container .menu4 :first-child::first-line {
  font-weight: bold;
}

section .blocmenu #progressiv21 {
  -webkit-animation: show5 2.5s;
          animation: show5 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show5 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

section .blocmenu #progressiv22 {
  -webkit-animation: show6 3s;
          animation: show6 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show6 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

section .blocmenu #progressiv23 {
  -webkit-animation: show7 3.5s;
          animation: show7 3.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show7 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show7 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

section .blocmenu #progressiv31 {
  -webkit-animation: show8 4s;
          animation: show8 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show8 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

section .blocmenu #progressiv32 {
  -webkit-animation: show9 4.5s;
          animation: show9 4.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show9 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show9 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

section .blocmenu #progressiv33 {
  -webkit-animation: show10 5s;
          animation: show10 5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes show10 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes show10 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

section .blocmenu .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .blocmenu .btn .btn-commander {
  border: 0px solid transparent;
  border-radius: 60px;
  width: 250px;
  height: 60px;
  background: #ff79da;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #ff79da), color-stop(21%, #f475da), color-stop(42%, #f074da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 17%, #f475da 21%, #f074da 42%, #9356dc 100%);
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 6px 21px 0px rgba(0, 0, 0, 0.38);
}

section .blocmenu .btn .btn-commander a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: #0a0909;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 35px;
  height: 220px;
}

footer .Blocfooter {
  height: 100%;
}

@media screen and (min-width: 1025px) {
  footer .Blocfooter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer img {
  width: 100px;
  height: auto;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

footer .containerfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  margin-bottom: -10px;
}

footer p {
  color: white;
}

footer p a {
  text-decoration: none;
  color: white;
}

footer .logofooter {
  padding-right: 5px;
}
/*# sourceMappingURL=menu.css.map */