@import "variable.scss";


/*GENERAL*/

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin align {
    text-align: center;
}

@mixin alignitems {
    display: flex;
    align-items: center;
}


@mixin shadow {
    box-shadow: 0px 6px 21px 0px rgba(0,0,0,0.38);
}

/*RESPONSIVE*/


@mixin desktop {
    @media screen and (min-width:1025px) {
     @content;
    }
}

@mixin ipad {
    @media screen and (min-width:600px) {
     @content;
    }
}

@mixin ipadpro {
    @media screen and (min-width:900px) {
     @content;
    }
}

/*FADE IN*/

@mixin progressiv1 {
    @content;
    @keyframes show {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop1 {
    @content;
    @keyframes slide-in-bottom {
        0% {
         opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}



@mixin progressiv2 {
    @content;
    @keyframes show2 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop2 {
    @content;
    @keyframes slide-in-bottom2 {
        0% {
          opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}

@mixin progressiv3 {
    @content;
    @keyframes show3 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop3 {
    @content;
    @keyframes slide-in-bottom3 {
        0% {
         opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}

@mixin progressiv4 {
    @content;
    @keyframes show4 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop4 {
    @content;
    @keyframes slide-in-bottom4 {
        0% {
         opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}

@mixin progressiv21 {
    @content;
    @keyframes show5 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop21 {
    @content;
    @keyframes slide-in-bottom5 {
        0% {
          opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}

@mixin progressiv22 {
    @content;
    @keyframes show6 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop22 {
    @content;
    @keyframes slide-in-bottom6 {
        0% {
          opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}


@mixin progressiv23 {
    @content;
    @keyframes show7 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop23 {
    @content;
    @keyframes slide-in-bottom7 {
        0% {
          opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}


@mixin progressiv31 {
    @content;
    @keyframes show8 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop31 {
    @content;
    @keyframes slide-in-bottom8 {
        0% {
          opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}


@mixin progressiv32 {
    @content;
    @keyframes show9 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop32 {
    @content;
    @keyframes slide-in-bottom9 {
        0% {
          opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}

@mixin progressiv33 {
    @content;
    @keyframes show10 {
        from {
        opacity: 0;
        
        }
        to {
        opacity: 1;
        transform: none;
        }
        }
}

@mixin progressivtop33 {
    @content;
    @keyframes slide-in-bottom10 {
        0% {
          opacity: 0;
          transform: translate(0px, 5px);
         
        }
        100% {
          opacity: 1;
          transform: translate(0px, 0px);
        }
      }
}


/*HEART*/

@mixin heart {
    @content;
    @keyframes heartprogress {
        from {
            opacity: 0;
            color: $secondaire-color;
            
            
        }
        to{
            opacity: 1;
           color:  $secondaire-color;
           
           
        }


    }
}

@mixin heart2 {
    @content;
    @keyframes heartprogress2 {
        from {
            opacity: 0;
            color: $secondaire-color;
            
            
        }
        to{
            opacity: 1;
           color:  $secondaire-color;
           
           
        }


    }
}

@mixin heart3 {
    @content;
    @keyframes heartprogress3 {
        from {
            opacity: 0;
            color: $secondaire-color;
            
            
        }
        to{
            opacity: 1;
           color:  $secondaire-color;
           
           
        }


    }
}


